body{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('./images/table.jpg');
    background-size: cover;
    color: white;
}

.main{
    margin-top: 150px;
}

h1{
    color: goldenrod;
}

button{
    font-family: 'Bebas Neue', cursive;
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    display: block;
    margin: 5px;
}
